@font-face {
  font-family: "HelveticaNeue";
  src: url("fonts/HelveticaNeueLTPro-Lt.otf");
}

#block_container
{
    text-align:center;
}

#placeholder{
  display: block;
  float: right
}

#classes{
  display: block;
  float: left
}

#alchemista_image{
	display: block;
	width: 75px;
	margin-left: auto;
  margin-right: auto;
  margin-top: 10px
  padding: 10px 10px 20px;
  padding-bottom: 10px;

}
#title{
  font-family: 'HelveticaNeue';
  text-align: left;
  color: #9b9b9b;
  margin: 0;
  padding: 10px 60px 0px;
}

#courseName {
  color: #a1c1e4;
}

h2 {
  font-size: 25px;
}

#distReqs{
  font-family: 'HelveticaNeue', sans-serif;
  text-align: left;
  color: #9b9b9b;
  font-size: 23px;
  margin: 0;
  padding: 0px 60px 2px;
}

.autocomplete-suggestions { border: 1px solid #999; background: #fff; cursor: default; overflow: auto; }
.autocomplete-suggestion { padding: 10px 5px; font-size: 1.2em; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #f0f0f0; }
.autocomplete-suggestions strong { font-weight: normal; color: #c7da2c; }
#searchfield form .biginput {
  width: 600px;
  height: 40px;
  padding: 0 10px 0 10px;
  background-color: #fff;
  border: 1px solid #c8c8c8;
  border-radius: 3px;
  color: #aeaeae;
  font-weight:normal;
  font-size: 1.5em;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
#searchfield form .biginput:focus {
  color: #858585;
}
body{
  font-family: 'HelveticaNeue', sans-serif;
}

#dates{
  font-family: 'HelveticaNeue', sans-serif;
  color:#c7da2c;
  font-weight: bold;
}

.headcount{
  width:80px;
}

.side_by_side{
   position: relative;
  
  display: flex;

}
.side{
 flex: 0.5;
}
.composition{
  width: ;
}

.fullMenu{
   -webkit-column-break-inside:avoid;
    -moz-column-break-inside:avoid;
    -o-column-break-inside:avoid;
    -ms-column-break-inside:avoid;
    column-break-inside:avoid;
}

.columns{
    -webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;
    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */
    column-gap: 40px;
    -webkit-column-rule-style: none; /* Chrome, Safari, Opera */
    -moz-column-rule-style: none; /* Firefox */
    column-rule-style: none;
    font-size: 20px;
    text-align: left;
    padding-left: 60px;
}
h4{
  font-weight: bold;
}

li{
  font-size: 12px;
}


.btn-secondary:active {
  background-color: #3e9bf4;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3e9bf4), color-stop(100%, #0469de));
  background-image: -webkit-linear-gradient(top, #3e9bf4 0%, #0469de 100%);
  background-image: linear-gradient(to bottom, #3e9bf4 0%, #0469de 100%);
}


/*Animation: */
.loader {
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.commentButton{
  border:none;
  border-spacing: none;

}


#Stars {
  font-size: 50px;
  color: #FDEB72;
}

.classInfo {
  color: #9b9b9b;
}

.logo{
  font-family: 'HelveticaNeue';
  color = #a1c1e4;
  padding-left: 10px;
}

label{
  font-family: 'HelveticaNeue';
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: #3E8EDE;
}

.bar:hover {
  fill: #522C1B;
}

.x.axis path {
  display: none;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

/*Julia's css */


.star{
  display: inline-block;
  width: 20px;
}

#comments {
    color: #676668;
}

.cmts {
  font-size: 25px;
  padding-bottom: 2%;
}

#cmtHeader {
  font-size: 30px;
  background: linear-gradient(to right, white, #a1c1e4);
}
#addcommentsbutton {
  text-align:center;
  font-family: "HelveticaNeue";
    src: url("fonts/HelveticaNeueLTPro-Lt.otf");
  background-color: #c3cedb;
  font-size: 20px;
}


